@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --height-slider: 20px;
}

@font-face {
  font-family: "Jetbrain";
  src: url("../public/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Jetbrain";
}

/* edits */

.range-sky::-webkit-slider-runnable-track {
  height: var(--height-slider);
  /* background: rgb(200, 248, 56); */
  background: linear-gradient(
    to right,
    rgba(16, 207, 220, 1),
    rgba(36, 42, 220)
  );
  border-radius: 9999px;
}

.range-sky::-moz-range-track {
  height: var(--height-slider);
  border-radius: 9999px;
  background: linear-gradient(
    to right,
    rgba(16, 207, 220, 1),
    rgba(36, 42, 220, 1)
  );
}

.range-sky::-webkit-slider-thumb {
  appearance: none;
  height: 35px;
  width: 10px;
  background: black;
  border: 3px solid gray;
  border-radius: 9999px;
  margin-top: -8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}